.App {
  text-align: center;
}

.Board {
  height: 80vh;
  width: 80vh;
  max-height: 80vw;
  max-wiidth: 80vw;

  margin: 10vh auto;

  display: flex;
  flex-direction: column-reverse;
}

.Row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.Square {
  flex-grow: 1;
  min-height: 100%;
  border: 1px solid black;
}

.Square svg {
  height: 100%;
  width: 100%;
}
